# Datos de ENIGH

# Task
Download the zip file from "https://www.inegi.org.mx/contenidos/programas/enigh/nc/2024/microdatos/enigh2024_ns_concentradohogar_csv.zip", extract the file "concentradohogar.csv", load it into a dataframe and display the first 5 rows.

## Download the zip file

### Subtask:
Download the zip file from the provided URL.

In [1]:
#
import requests
import zipfile
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 150)

In [2]:
#
#https://www.inegi.org.mx/programas/enigh/nc/2024/#microdatos

url = "https://www.inegi.org.mx/contenidos/programas/enigh/nc/2024/microdatos/enigh2024_ns_concentradohogar_csv.zip"
file_name = "enigh2024_ns_concentradohogar_csv.zip"

response = requests.get(url)

if response.status_code == 200:
    with open(file_name, "wb") as f:
        f.write(response.content)
    print(f"File downloaded successfully: {file_name}")
else:
    print(f"Failed to download file. Status code: {response.status_code}")

File downloaded successfully: enigh2024_ns_concentradohogar_csv.zip

## Extract the csv file

In [3]:
#

zip_file_name = 'enigh2024_ns_concentradohogar_csv.zip'
csv_file_name = 'concentradohogar.csv'

with zipfile.ZipFile(zip_file_name, 'r') as zip_ref:
    zip_ref.extract(csv_file_name)

print(f"Successfully extracted {csv_file_name} from {zip_file_name}")

Successfully extracted concentradohogar.csv from enigh2024_ns_concentradohogar_csv.zip

## Load data and display data

In [4]:
#

df = pd.read_csv('concentradohogar.csv')

In [5]:
#
df.head()

,folioviv,foliohog,ubica_geo,tam_loc,est_socio,est_dis,upm,factor,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,menores,p12_64,p65mas,ocupados,percep_ing,perc_ocupa,ing_cor,ingtrab,trabajo,sueldos,horas_extr,comisiones,aguinaldo,indemtrab,otra_rem,remu_espec,negocio,noagrop,industria,comercio,servicios,agrope,agricolas,pecuarios,reproducc,pesca,otros_trab,rentas,utilidad,arrenda,transfer,jubilacion,becas,donativos,remesas,bene_gob,transf_hog,trans_inst,estim_alqu,otros_ing,gasto_mon,alimentos,ali_dentro,cereales,carnes,pescado,leche,huevo,aceites,tuberculo,verduras,frutas,azucar,cafe,especias,otros_alim,bebidas,ali_fuera,tabaco,vesti_calz,vestido,calzado,vivienda,alquiler,pred_cons,agua,energia,limpieza,cuidados,utensilios,enseres,salud,ambul_serv,aten_hosp,medic_prod,transporte,publico,foraneo,adqui_vehi,mantenim,refaccion,combus,comunica,educa_espa,educacion,esparci,paq_turist,personales,cuida_pers,acces_pers,otros_gas,transf_gas,percep_tot,retiro_inv,prestamos,otras_perc,ero_nm_viv,ero_nm_hog,erogac_tot,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog,smg
0,100001901,1,1001,1,3,1,1,207,2,1,32,6,4,2,2,2,2,2,0,2,2,2,138232.38,130518.10,130518.10,78299.99,18195.64,0.0,9048.90,0.0,4402.17,20571.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7714.28,0.0,0.0,0.0,0.0,0.0,7714.28,0.00,0.00,0.0,47478.66,17858.49,8421.36,809.99,835.70,0.00,1954.28,385.71,0.00,0.00,347.13,0.00,0.00,0.0,0.00,3728.56,359.99,9437.13,0.0,635.86,0.00,635.86,6475.63,4354.83,0.0,1200.0,920.80,3811.92,3811.92,0.0,0.0,0.00,0.00,0.0,0.00,9929.03,0.00,0.0,0.0,6967.74,0.0,6967.74,2961.29,8651.61,8651.61,0.00,0.00,116.12,116.12,0.00,0.00,0.00,13499.97,0.00,0.00,0.0,0.0,13499.97,29582.60,0.00,0.00,0.00,0.0,21365.21,0.00,0.00,8217.39,0.0,0.00,22403.7
1,100001902,1,1001,1,3,1,1,207,2,1,48,9,4,2,2,4,0,4,0,2,2,2,118014.04,103829.72,103829.72,76304.34,0.00,0.0,9782.60,0.0,0.00,17742.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2571.42,0.0,0.0,0.0,0.0,0.0,2571.42,0.00,11612.90,0.0,38782.74,22384.13,13641.30,1079.96,4114.27,0.00,1182.84,0.00,2314.28,385.71,964.27,0.00,0.00,0.0,0.00,2571.42,1028.55,8742.83,0.0,0.00,0.00,0.00,1990.00,0.00,100.0,990.0,900.00,1637.39,1637.39,0.0,0.0,0.00,0.00,0.0,0.00,8796.76,0.00,0.0,0.0,4354.83,0.0,4354.83,4441.93,839.02,0.00,839.02,0.00,3135.44,3135.44,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,8709.67,8709.67,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,22403.7
2,100001904,1,1001,1,3,1,1,207,2,2,60,6,2,1,1,2,0,2,0,2,2,2,46866.32,45580.61,45580.61,41086.94,0.00,0.0,122.28,0.0,0.00,4371.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1285.71,0.0,0.0,0.0,0.0,0.0,1285.71,0.00,0.00,0.0,28601.26,9382.81,9382.81,2005.70,1928.56,0.00,1131.41,617.14,0.00,0.00,1115.73,128.57,642.85,0.0,527.14,1285.71,0.00,0.00,0.0,0.00,0.00,0.00,4731.86,2903.22,0.0,585.0,1243.64,966.74,966.74,0.0,0.0,1128.91,489.13,0.0,639.78,11009.03,0.00,0.0,0.0,6967.74,0.0,6967.74,4041.29,0.00,0.00,0.00,0.00,1381.91,1381.91,0.00,0.00,0.00,5435.96,0.00,0.00,0.0,0.0,5435.96,4695.65,0.00,0.00,0.00,0.0,4695.65,0.00,0.00,0.00,0.0,0.00,22403.7
3,100001905,1,1001,1,3,1,1,207,2,1,43,8,4,3,1,4,0,4,0,3,3,3,110430.10,97169.95,97169.95,70923.89,586.95,0.0,3668.47,0.0,4402.17,17588.47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,195.64,0.0,0.0,0.0,0.0,0.0,0.00,195.64,13064.51,0.0,43509.83,23682.69,23682.69,4152.83,4782.84,0.00,3162.83,1465.71,0.00,707.13,2378.54,694.28,0.00,0.0,0.00,4641.41,1697.12,0.00,0.0,2885.85,2885.85,0.00,1873.96,0.00,137.5,591.0,1145.46,1184.48,1184.48,0.0,0.0,19.56,0.00,0.0,19.56,7068.64,192.85,0.0,0.0,3483.86,0.0,3483.86,3391.93,4239.86,88.04,4151.82,0.00,2554.79,2554.79,0.00,0.00,0.00,6847.82,0.00,6847.82,0.0,0.0,0.00,22768.99,0.00,366.84,366.84,0.0,5869.56,0.00,7336.95,2934.78,0.0,6260.86,22403.7
4,100002501,1,1001,1,2,2,2,196,2,2,29,8,4,1,3,2,2,2,0,2,2,2,99494.12,93687.67,93687.67,57975.64,1956.52,0.0,13695.64,0.0,6945.64,13114.23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,5806.45,0.0,132552.40,39207.49,38178.93,4840.66,5804.95,501.42,4339.24,482.14,0.00,257.14,2809.22,1992.83,0.00,0.0,327.85,13731.39,3092.09,1028.56,0.0,19639.48,11915.15,7724.33,2062.14,0.00,0.0,1000.0,1062.14,6590.25,6590.25,0.0,0.0,7767.35,4108.68,0.0,3658.67,8296.94,5335.65,0.0,0.0,0.00,0.0,0.00,2961.29,16040.42,8736.16,5934.70,1369.56,22825.56,21878.61,898.04,48.91,10122.77,35706.51,35706.51,0.00,0.0,0.0,0.00,16145.46,6096.77,0.00,0.00,0.0,0.00,2934.78,0.00,0.00,0.0,7113.91,22403.7

In [6]:
#
df.columns

Index(['folioviv', 'foliohog', 'ubica_geo', 'tam_loc', 'est_socio', 'est_dis',
       'upm', 'factor', 'clase_hog', 'sexo_jefe',
       ...
       'mater_serv', 'material', 'servicio', 'deposito', 'prest_terc',
       'pago_tarje', 'deudas', 'balance', 'otras_erog', 'smg'],
      dtype='object', length=126)

# Calculo de deciles de ingreso

In [7]:
# -------------------------
# 1) Cuantiles ponderados
# -------------------------
def weighted_quantiles(values, weights, qs):
    """
    values: array de valores (ingresos)
    weights: array de ponderadores (>0)
    qs: iterable de cuantiles en [0,1], p.ej. [0.1, 0.2, ..., 0.9]
    Retorna los cortes (valores de 'values') donde la CDF ponderada alcanza cada q.
    """
    values = np.asarray(values, dtype=float)
    weights = np.asarray(weights, dtype=float)
    assert np.all(weights >= 0), "Hay ponderadores negativos."

    # ordenar por valor
    sorter = np.argsort(values)
    v = values[sorter]
    w = weights[sorter]

    # CDF ponderada
    cw = np.cumsum(w)
    if cw[-1] == 0:
        raise ValueError("La suma de ponderadores es 0.")
    cdf = cw / cw[-1]

    # para cada q, primer ndice con cdf >= q
    qs = np.asarray(qs, dtype=float)
    idx = np.searchsorted(cdf, qs, side="left")
    idx = np.clip(idx, 0, len(v)-1)

    return v[idx]

In [8]:
# -----------------------------------------------------
# 2) Deciles ponderados (cortes) y asignacin a filas
# -----------------------------------------------------
def add_income_deciles(
    df, value_col="ing_cor", weight_col="factor",
    out_col="decil_ing"
):
    """
    Calcula cortes declicos ponderados para toda la muestra
    y asigna a cada rengln su decil (1..10).
    Devuelve (df_con_decil, cortes_series).
    """
    # Filtrar filas vlidas para calcular cortes
    mask = df[value_col].notna() & df[weight_col].notna() & (df[weight_col] > 0)
    if mask.sum() == 0:
        raise ValueError("No hay observaciones vlidas con ingreso y factor > 0.")

    qs = np.linspace(0.1, 0.9, 9)  # 10%, 20%, ..., 90%
    cuts = weighted_quantiles(df.loc[mask, value_col], df.loc[mask, weight_col], qs)

    # Construir bins e imputar decil
    bins = np.concatenate(([-np.inf], cuts, [np.inf]))
    labels = list(range(1, 11))  # 1..10

    deciles = pd.cut(df[value_col], bins=bins, labels=labels, include_lowest=True)
    df[out_col] = deciles.astype("Int64")  # permite NA si ing_cor es NA

    cortes = pd.Series(cuts, index=[f"q{int(q*100)}" for q in qs], name="corte")
    return df, cortes

In [9]:
#
df, cortes = add_income_deciles(df, value_col="ing_cor", weight_col="factor", out_col="decil_ing")
print(cortes/3)

q10     7880.326667
q20    10873.520000
q30    13671.760000
q40    16541.910000
q50    19739.206667
q60    23463.053333
q70    28424.733333
q80    35575.673333
q90    48603.106667
Name: corte, dtype: float64

In [10]:
#3) Chequeo rpido: participacin ponderada por decil (debera ~10% cada uno)
share = df.dropna(subset=["decil_ing"]).groupby("decil_ing")["factor"].sum() / df["factor"].sum()
print(share)

decil_ing
1     0.100015
2     0.099988
3     0.100023
4     0.099978
5     0.100002
6     0.100004
7     0.099991
8     0.100000
9     0.100001
10    0.099997
Name: factor, dtype: float64

In [12]:
# Calculate the average income for each income decile
# This assumes that the 'df' DataFrame has a 'decil_ing' column with the assigned deciles
average_income_by_decile = df.groupby('decil_ing')['ing_cor'].mean()

average_income_by_decile/3

decil_ing
1      5532.808224
2      9421.936573
3     12275.466720
4     15078.926093
5     18103.675525
6     21541.945601
7     25805.936325
8     31732.388887
9     41191.036459
10    76725.518807
Name: ing_cor, dtype: float64